force-app/main/default/flows/PgM_Refer_to_PMO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_PMO</name>
        <label>Notify PMO</label>
        <locationX>402</locationX>
        <locationY>1934</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Chatter_message_0</name>
        <label>Add to Chatter message</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varChatterUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!Loop_PgM_Users.Id}],</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PgM_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Chatter_message</name>
        <label>Complete Chatter message</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varChatterMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!varChatterUserList} {!varWorkstreamUsers} - {!inputReasontoPMO} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_PMO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Program_Managers</name>
        <label>Count Program Managers</label>
        <locationX>534</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varPgMCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PgM_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Manager_s_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Workstream_Leaders</name>
        <label>Set Workstream Leaders</label>
        <locationX>732</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varWorkstreamUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!Get_Workstream_Leaders.PgM_Project_Manager__c}],  @[{!Get_Workstream_Leaders.PgM_Product_Leader__c}] </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PgM_Role_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Locked_Decision_Record</name>
        <label>Locked Decision Record?</label>
        <locationX>391</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Visibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RAID_Record.PgM_Record_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locked_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Manager_Role_Defined</name>
        <label>Program Manager Role Defined?</label>
        <locationX>732</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>scrnNo_Program_Manager_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PgM_Role_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PgM_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Manager_s_Assigned</name>
        <label>Program Manager&apos;s Assigned?</label>
        <locationX>534</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>scrnNo_Program_Managers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPgMCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PgM_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varChatterUserList</name>
        <dataType>String</dataType>
        <expression>left({!varChatterUsers},len({!varChatterUsers})-1)</expression>
    </formulas>
    <interviewLabel>Refer to PMO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refer to PMO</label>
    <loops>
        <name>Loop_PgM_Users</name>
        <label>Loop PgM Users</label>
        <locationX>402</locationX>
        <locationY>1478</locationY>
        <collectionReference>Get_PgM_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Chatter_message_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Complete_Chatter_message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PgM_Role_Id</name>
        <label>Get PgM Role Id</label>
        <locationX>732</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Manager_Role_Defined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PgM_Program_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PgM_Users</name>
        <label>Get PgM Users</label>
        <locationX>534</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Program_Managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PgM_Role_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RAID_Record</name>
        <label>Get RAID Record</label>
        <locationX>391</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Locked_Decision_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PgM_RAID_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Workstream_Leaders</name>
        <label>Get Workstream Leaders</label>
        <locationX>732</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Workstream_Leaders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RAID_Record.PgM_Workstream_Parent__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PgM_Workstream__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visibility</name>
        <label>Update Visibility</label>
        <locationX>732</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>scrnComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PgM_Visibility__c</field>
            <value>
                <stringValue>2 - PMO</stringValue>
            </value>
        </inputAssignments>
        <object>PgM_RAID_Log__c</object>
    </recordUpdates>
    <screens>
        <name>Locked_Record</name>
        <label>Locked Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgLockedRecord</name>
            <fieldText>&lt;p&gt;The Decision record is approved and locked. It cannot be escalated to the PMO.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrnComment</name>
        <label>Comment</label>
        <locationX>732</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Workstream_Leaders</targetReference>
        </connector>
        <fields>
            <name>inputReasontoPMO</name>
            <fieldText>Reason for referral to the PMO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrnNo_Program_Manager_Role</name>
        <label>No Program Manager Role</label>
        <locationX>930</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoProgramManager</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Program Manager&lt;/strong&gt; role has not been setup correctly. Please contact your System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrnNo_Program_Managers</name>
        <label>No Program Managers</label>
        <locationX>666</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoProgramManagers</name>
            <fieldText>&lt;p&gt;There are no users assigned to the &lt;strong&gt;Program Manager&lt;/strong&gt; role. Please contact your System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>265</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RAID_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstPMOUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChatterMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChatterUsers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPgMCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWorkstreamUsers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
