force-app/main/default/flows/PgM_Update_RAID_Log_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mention_Creator</name>
        <label>Mention Creator in Chatter</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Primary_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.CreatedById}] - {!$Record.Name} is ready to be closed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Creator</name>
        <label>Notify Creator</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>PgM_RAID_Log__c.PgM_RAID_Log_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Primary</name>
        <label>Notify Primary</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>PgM_RAID_Log__c.PgM_Notify_Primary</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Secondary_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Secondary</name>
        <label>Notify Secondary</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <actionName>PgM_RAID_Log__c.PgM_Notify_Secondary</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Description</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>New_Description</name>
        <label>New Description</label>
        <locationX>974</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>New_Project_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PgM_Description__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Items_if_any</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Due_Date</name>
        <label>New Due Date</label>
        <locationX>974</locationX>
        <locationY>1799</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Date</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Due_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PgM_Due_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PgM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PgM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Primary_Owner</name>
        <label>New Primary Owner</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>New_Secondary_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Primary_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PgM_Primary_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Primary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Project_Manager</name>
        <label>New Project Manager</label>
        <locationX>974</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>New_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Unchanged</defaultConnectorLabel>
        <rules>
            <name>Email_Does_Not_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_PM_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PgM_Project_Manager_Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Manager</targetReference>
            </connector>
            <label>Email Does Not Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Secondary_Owner</name>
        <label>New Secondary Owner</label>
        <locationX>974</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>New_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Secondary_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PgM_Secondary_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Secondary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_RAID</name>
        <label>Status</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>New_Primary_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Closed_RAID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closing_Attributes</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Pending_Review_RAID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mention_Creator</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Review</label>
        </rules>
        <rules>
            <name>Reopened_RAID</name>
            <conditionLogic>(1 or 2) AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PgM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PgM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PgM_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PgM_Closed_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Close_Atttributes</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reopened</label>
        </rules>
    </decisions>
    <description>v2</description>
    <environments>Default</environments>
    <formulas>
        <name>varDueDateIncrement</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.PgM_Due_Date_Changes__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update RAID Log (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update RAID Log (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Close_Atttributes</name>
        <label>Reset Close Atttributes</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Primary_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>PgM_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Closed_By__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Resolution_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Resolution_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Status</name>
        <label>Reset Status</label>
        <locationX>842</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Update_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>PgM_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Closing_Attributes</name>
        <label>Set Closing Attributes</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Notify_Creator</targetReference>
        </connector>
        <inputAssignments>
            <field>PgM_Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Closed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>842</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>PgM_Due_Date_Changes__c</field>
            <value>
                <elementReference>varDueDateIncrement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Manager</name>
        <label>Update Project Manager</label>
        <locationX>842</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>New_Due_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>PgM_PM_Email__c</field>
            <value>
                <elementReference>$Record.PgM_Project_Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_RAID</targetReference>
        </connector>
        <object>PgM_RAID_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Related_Items_if_any</name>
        <label>Update Related Items (if any)</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>New_Project_Manager</targetReference>
        </connector>
        <flowName>PgM_Update_RAID_Description</flowName>
        <inputAssignments>
            <name>RAID_Log_Description</name>
            <value>
                <elementReference>$Record.PgM_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RAID_Log_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
