force-app/main/default/flows/PgM_Update_Prior_Week_Indicators.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Clear_Prior_Week_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Week_Indicator.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prior_Week_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>PriorWeekEndingDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.PgM_Week_Ending__c} - 7</expression>
    </formulas>
    <interviewLabel>Update Prior Week Indicators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Prior Week Indicators</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Prior_Week_Indicator</name>
        <label>Get Prior Week Indicator</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Workstream__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PgM_Workstream__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PgM_Week_Ending__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriorWeekEndingDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PgM_Status_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Prior_Week_Values</name>
        <label>Clear Prior Week Values</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>PgM_Prior_Budget_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Prior_Resources_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Prior_Schedule_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Prior_Scope_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Week_Values</name>
        <label>Update Prior Week Values</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>PgM_Prior_Budget_Value__c</field>
            <value>
                <elementReference>Get_Prior_Week_Indicator.PgM_Budget_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Prior_Resources_Value__c</field>
            <value>
                <elementReference>Get_Prior_Week_Indicator.PgM_Resources_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Prior_Schedule_Value__c</field>
            <value>
                <elementReference>Get_Prior_Week_Indicator.PgM_Schedule_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Prior_Scope_Value__c</field>
            <value>
                <elementReference>Get_Prior_Week_Indicator.PgM_Scope_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prior_Week_Indicator</targetReference>
        </connector>
        <object>PgM_Status_Indicator__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
