force-app/main/default/flows/PgM_Submit_for_Approval_Status_Indicator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Approver</name>
        <label>Notify Approver</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Approval_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!varApprover}] - the Status Indicator for the Week Ending {!Get_Status_Indicator.PgM_Week_Ending__c} is ready for your approval. {!inputComment_optional}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Status_Indicator.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>varURLPath</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;lightning/r/PgM_Status_Indicator__c/&quot; +  {!recordId} + &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Submit for Approval - Status Indicator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Approval - Status Indicator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Record</name>
        <label>Create Approval Record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Approver__c</field>
            <value>
                <elementReference>varApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Record_Name__c</field>
            <value>
                <elementReference>Get_Status_Indicator.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Record_URL__c</field>
            <value>
                <elementReference>varURLPath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Type__c</field>
            <value>
                <stringValue>{!Get_Status_Indicator.RecordType.Name} Status Indicator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Approval_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PgM_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Record_Type</name>
        <label>Get Approval Record Type</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Approval_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status_Indicator_Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PgM_Approval__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status_Indicator</name>
        <label>Get Status Indicator</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrnSelect_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PgM_Status_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_Indicator</name>
        <label>Update Status Indicator</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Notify_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PgM_Approver__c</field>
            <value>
                <elementReference>varApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Report_Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PgM_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PgM_Status_Indicator__c</object>
    </recordUpdates>
    <screens>
        <name>scrnSelect_Approver</name>
        <label>Select Approver</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Status_Indicator</targetReference>
        </connector>
        <fields>
            <name>inputApprover</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PgM_Approver__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>PgM_Status_Indicator__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varApprover</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputComment_optional</name>
            <fieldText>Comment (optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select the name of the person to Approve the Status Indicator and enter a Comment as appropriate.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Status_Indicator</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
