force-app/main/default/flows/PgM_Create_Status_Summary_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>138</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>lstStatusSummaryRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objStatusSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PgM_Loop_Program_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_Count</name>
        <label>Assign Program Count</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>ExistingRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PgM_Get_Programs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Summary_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Attributes</name>
        <label>Map Status Summary Attributes</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>objStatusSummary.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!PgM_Loop_Program_List.Name} - {!WeekEndingDate}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objStatusSummary.PgM_Week_Ending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WeekEndingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objStatusSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objStatusSummary.PgM_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PgM_Loop_Program_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_New_Summary_Record</name>
        <label>Create New Summary Record?</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Weekly_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>DayoftheWeek</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD( {!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  0, &quot;Sunday&quot;,
  1, &quot;Monday&quot;,
  2, &quot;Tuesday&quot;,
  3, &quot;Wednesday&quot;,
  4, &quot;Thursday&quot;,
  5, &quot;Friday&quot;, 
  &quot;Saturday&quot;
)</expression>
    </formulas>
    <formulas>
        <name>WeekEndingDate</name>
        <dataType>Date</dataType>
        <expression>case(DayoftheWeek,
&quot;Sunday&quot;,{!$Flow.CurrentDate} + 5,
&quot;Monday&quot;,{!$Flow.CurrentDate} + 4,
&quot;Tuesday&quot;,{!$Flow.CurrentDate} + 3,
&quot;Wednesday&quot;,{!$Flow.CurrentDate} + 2,
&quot;Thursday&quot;,{!$Flow.CurrentDate} + 1,
&quot;Friday&quot;,{!$Flow.CurrentDate},
&quot;Saturday&quot;,{!$Flow.CurrentDate} + 6, null)</expression>
    </formulas>
    <interviewLabel>Create Status Summary Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Status Summary Record</label>
    <loops>
        <name>PgM_Loop_Program_List</name>
        <label>Loop Program List</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <collectionReference>PgM_Get_Programs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Attributes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Status_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Status_Summary</name>
        <label>Create New Status Summary</label>
        <locationX>50</locationX>
        <locationY>1212</locationY>
        <inputReference>lstStatusSummaryRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Weekly_Record_Type</name>
        <label>Get Weekly Record Type</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PgM_Loop_Program_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PgM_Status_Summary__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PgM_Weekly</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PgM_Get_Programs</name>
        <label>Get Programs</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Program_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PgM_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PgM_Get_Programs</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-06-01</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lstStatusSummaryRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_Status_Summary__c</objectType>
    </variables>
    <variables>
        <name>objStatusSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_Status_Summary__c</objectType>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
