force-app/main/default/flows/PgM_Update_RAID_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_List</name>
        <label>Add to Updated List</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Updated_Related_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelatedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_List_of_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RelatedItem.PgM_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RAID_Log_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Items_Found</name>
        <label>Items Found?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_of_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update RAID Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update RAID Description (Sub-Flow)</label>
    <loops>
        <name>Update_List_of_Items</name>
        <label>Update List of Items</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>RelatedItem</assignNextValueToReference>
        <collectionReference>Get_Related_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Items</name>
        <label>Get Related Items</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Items_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Related_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RAID_Log_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PgM_Related_Item__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Items</name>
        <label>Update Related Items</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>Updated_Related_Items</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RAID_Log_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RAID_Log_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_Related_Item__c</objectType>
    </variables>
    <variables>
        <name>Updated_Related_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_Related_Item__c</objectType>
    </variables>
</Flow>
