force-app/main/default/flows/PgM_Update_Overdue_RAID_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Project_Manager_0</name>
        <label>Notify Project Manager</label>
        <locationX>440</locationX>
        <locationY>756</locationY>
        <actionName>PgM_RAID_Log__c.PgM_Notify_Project_Manager_when_inactive_RAID_item_is_reassigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RAIDItem.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Overdue_List</name>
        <label>Add to Overdue List</label>
        <locationX>352</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>lstOverdueRAIDItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RAIDItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RAID_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_to_Project_Manager_0</name>
        <label>Reassign to Project Manager</label>
        <locationX>440</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>RAIDItem.PgM_Primary_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RAIDItem.PgM_Project_Manager_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RAIDItem.PgM_PM_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RAIDItem.PgM_Project_Manager_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Project_Manager_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>352</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>RAIDItem.PgM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Overdue_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_Owner_Active</name>
        <label>Primary Owner Active?</label>
        <locationX>352</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Reassign_to_Project_Manager_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RAIDItem.PgM_Primary_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Overdue RAID Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Overdue RAID Items</label>
    <loops>
        <name>RAID_Item_Loop</name>
        <label>RAID Item Loop</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNextValueToReference>RAIDItem</assignNextValueToReference>
        <collectionReference>Get_RAID_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Primary_Owner_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RAID_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RAID_Items</name>
        <label>Get RAID Items</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RAID_Item_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Due_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PgM_RAID_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RAID_Items</name>
        <label>Update RAID Items</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <inputReference>lstOverdueRAIDItems</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RAID_Items</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-05-14</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstInactiveUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstOverdueRAIDItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_RAID_Log__c</objectType>
    </variables>
    <variables>
        <name>OverdueRAIDItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_RAID_Log__c</objectType>
    </variables>
    <variables>
        <name>RAIDItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_RAID_Log__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
