force-app/main/default/flows/PgM_Send_Due_Date_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>PgM_RAID_Log__c.PgM_Notify_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RAIDItem.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>ReminderDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 2</expression>
    </formulas>
    <interviewLabel>Send Due Date Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Due Date Reminders</label>
    <loops>
        <name>Email_Loop</name>
        <label>Email Loop</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNextValueToReference>RAIDItem</assignNextValueToReference>
        <collectionReference>Get_RAID_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Reminder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RAID_Items</name>
        <label>Get RAID Items</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>PgM_Due_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PgM_RAID_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PgM_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RAID_Items</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-05-14</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RAIDItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_RAID_Log__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
