force-app/main/default/flows/PgM_Add_Governance_Request_to_Agenda.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>lstRequests_to_Add</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_Count</name>
        <label>Assign List Count</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varRequestsAvailable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Governance_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Governance_Requests_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Meeting_Info</name>
        <label>Update Meeting Info</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_Selected.PgM_Governance_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_to_Agenda</name>
        <label>Add to Agenda?</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstSelectedAgendaRecords</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Selected.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meeting_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Governance_Requests_Available</name>
        <label>Governance Requests Available?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>scrnNo_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestsAvailable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrnSelect_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcsRequests</name>
        <dataType>String</dataType>
        <displayField>PgM_Record_Choice_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>PgM_Governance_Meeting__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PgM_Governance__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Governance Request to Agenda {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Governance Request to Agenda</label>
    <loops>
        <name>Loop_Selected</name>
        <label>Loop Selected</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Governance_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Agenda</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Governance_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Governance_Meeting</name>
        <label>Get Governance Meeting</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Governance_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PgM_Governance_Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Governance_Requests</name>
        <label>Get Governance Requests</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_List_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>PgM_Governance_Meeting__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PgM_Governance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Governance_Requests</name>
        <label>Update Governance Requests</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <inputReference>lstRequests_to_Add</inputReference>
    </recordUpdates>
    <screens>
        <name>scrnNo_Requests</name>
        <label>No Requests</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoRequests</name>
            <fieldText>&lt;p&gt;There are no Governance Requests that are &lt;strong&gt;Ready for Review&lt;/strong&gt; and not already assigned to a Governance Meeting agenda.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrnSelect_Request</name>
        <label>Select Request</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
        <fields>
            <name>lstSelectedAgendaRecords</name>
            <choiceReferences>rcsRequests</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Requests</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add to Agenda</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Governance_Meeting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstRequests_to_Add</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_Governance__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedRequests</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objSelectedRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_Governance__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestsAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
