force-app/main/default/flows/PgM_Notify_Primary_Owner_of_Overdue_RAID_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Primary</name>
        <label>Notify Primary</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>PgM_RAID_Log__c.PgM_Notify_Overdue</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Day_of_the_Week</name>
        <label>Day of the Week?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Weekend</defaultConnectorLabel>
        <rules>
            <name>Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDayoftheWeek</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDayoftheWeek</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>Weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Owner_Status</name>
        <label>Primary Owner Status?</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Primary</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varDayoftheWeek</name>
        <dataType>Number</dataType>
        <expression>weekday({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Notify Primary Owner of Overdue RAID Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Primary Owner of Overdue RAID Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Owner_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PgM_Primary_Owner__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Day_of_the_Week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PgM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </filters>
        <object>PgM_RAID_Log__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-16</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstRAIDItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PgM_RAID_Log__c</objectType>
    </variables>
    <variables>
        <name>varTestWeekday</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
